@model iBizSMSV1R1.Models.ClassVideo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutClassroomAdmin.cshtml";
}

<h1>Create</h1>

<h4>ClassVideo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="recno" class="control-label"></label>
                <input asp-for="recno" class="form-control" />
                <span asp-validation-for="recno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subjectname" class="control-label"></label>
                <input asp-for="subjectname" class="form-control" />
                <span asp-validation-for="subjectname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lessonno" class="control-label"></label>
                <input asp-for="lessonno" class="form-control" />
                <span asp-validation-for="lessonno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lessontitle" class="control-label"></label>
                <input asp-for="lessontitle" class="form-control" />
                <span asp-validation-for="lessontitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="videolink" class="control-label"></label>
                <input asp-for="videolink" class="form-control" />
                <span asp-validation-for="videolink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

