
<nav class="navbar bg-success navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Account" asp-action="ProfilePost" asp-route-id="">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="StudentInfoes" asp-action="Index" asp-route-id="">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Enrolments" asp-action="Index" asp-route-id="">Admission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="BillToPays" asp-action="Index" asp-route-id="">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="ClassSchedules" asp-action="Index" asp-route-id="">Classroom</a>
            </li>
        </ul>
        @*<form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>*@
    </div>   
</nav>
<hr />
   
