<div class="copyright py-4 bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 text-sm-left text-center">
                <!--/ Row end -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright-info">
                            &copy; Copyright 2019 Themefisher.
                            <span>
                                Designed by <a href="https://themefisher.com"> Themefisher.com </a>
                            </span>
                            <span>
                                CMS by <a href="https://www.ibizkeys.com"> iBizKeys.com </a>
                            </span>
                            <span>
                                Images by <a href="https://www.unsplash.com"> unsplash.com </a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--/ Row end -->
            </div>
            <div class="col-sm-3 text-sm-right text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
                    <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
                    <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
                    <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>