


    <!-- Google Map -->
<div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7727.895247987478!2d120.93763300000002!3d14.430182!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b9ca7995f0d8e2e!2sTriumphant%20Christian%20School!5e0!3m2!1sen!2sph!4v1625479068663!5m2!1sen!2sph" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
