<!-- Modal -->
<div id="MessageModalWrong" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">

            </div>

            <div class="modal-body text-center">

                <div>
                    <img src="~/Images/Wrong.png" />
                </div>
                <div>
                    <h4 class="modal-title">MESSAGE</h4>
                </div>
                <span>@ViewBag.Message</span><br />

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>
</div>