<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                <h3 class="text-white">Enroll Now</h3>
                <form action="#">
                    <div class="input-wrapper">
                        <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                        <button type="submit" value="send" class="btn btn-primary">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>