@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="SchoolYears" asp-action="Index"> School Years</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="Nationalities" asp-action="Index">Nationality</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="StudentTypes" asp-action="Index">Student Type</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="Studentlevels" asp-action="Index">Student level</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="GradeYears" asp-action="Index">Grade Year</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="Sections" asp-action="Index">Sections</a>
    </li>
    <li class="dropdown">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="TrackCodes" asp-action="Index">Track Codes</a>
    </li>    
   
</ul>







