@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-tabs" role="tablist"> 
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="ProcessIntroes" asp-action="Index">Process Introduction</a>
    </li>
</ul>







