@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-tabs" role="tablist">    
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="Discounts" asp-action="Index">Discount</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="ModeOfPayments" asp-action="Index">Mode Of Payment</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="PaymentTypes" asp-action="Index">Payment Types</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="PaymentOffices" asp-action="Index">Payment Offices</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="StatusOfPayments" asp-action="Index">Status Of Payments</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning dropbtn input-text-sm" asp-controller="BillNames" asp-action="Index">Bill Names</a>
    </li>  
</ul>







