<style>
    .div-menu {
        padding: 10px;
        margin: 5px;
        border-style: outset;
        border-radius: 0px;
        border-color: darkgoldenrod;
        background-color: powderblue;
        /*z-index: -2;*/
    }
</style>
<div class="row">
    <div class="col-sm-* div-menu active"><a asp-controller="StudentInfoes" asp-action="Index" asp-route-id="">Classs Schedule</a></div>
    <div class="col-sm-* div-menu"><a asp-controller="" asp-action="Index" asp-route-id="">Other Menu</a></div>
    <div class="col-sm-* div-menu"><a asp-controller="" asp-action="Index" asp-route-id="">Other Menu 2</a></div>
</div>