<style>
    .logo {
        height: 25px;
        width: 25px;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="javascript:void(0)"><img id="logo" class="navbar-brand" src="~/images/logo.gif" alt="School Name Here..." /></a>*@
        <a class="navbar-brand" href="javascript:void(0)">School Name Here...</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)"></a>
                </li>
            </ul>
            <div class="d-flex">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</nav>
<hr />

