
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageTitles" asp-action="Index">WebPage Titles</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPages" asp-action="Index">WebPage</a>
</div>

<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageAbouts" asp-action="Index">About</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="AdmissionRequirements" asp-action="Index">Admission Requirement</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="EnrollmentProdecures" asp-action="Index">Admission Procedure</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageContacts" asp-action="Index">Contacts</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageSuccessStories" asp-action="Index">Success Story</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageCourses" asp-action="">Courses</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageEvents" asp-action="">Events</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageAchievements" asp-action="">Achievements</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageBlogs" asp-action="">Blogs</a>
</div>
<div class="dropdown">
    <a class="btn btn-primary dropbtn" asp-controller="WebPageTeachers" asp-action="">Teachers</a>
</div>


