@model iBizSMSV1R1.Models.Payment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="recno" />
            <div class="form-group">
                <label asp-for="referenceno" class="control-label"></label>
                <input asp-for="referenceno" class="form-control" />
                <span asp-validation-for="referenceno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentdate" class="control-label"></label>
                <input asp-for="paymentdate" class="form-control" />
                <span asp-validation-for="paymentdate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="paymentoffices" class="control-label"></label>
                <input asp-for="paymentoffices" class="form-control" />
                <span asp-validation-for="paymentoffices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymenttypes" class="control-label"></label>
                <input asp-for="paymenttypes" class="form-control" />
                <span asp-validation-for="paymenttypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountpaid" class="control-label"></label>
                <input asp-for="amountpaid" class="form-control" />
                <span asp-validation-for="amountpaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentpostdate" class="control-label"></label>
                <input asp-for="paymentpostdate" class="form-control" />
                <span asp-validation-for="paymentpostdate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

