@model iBizSMSV1R1.Models.StudentImage

@{
    ViewData["Title"] = "Edit Student Image";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";   
    var id = ViewBag.ID;
}

<div class="container">
    <h6 id="module-views">@ViewData["Title"]</h6>
</div>
<hr />
<div class="Form-Body">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="recno" />
                <input type="hidden" asp-for="id" />
                @*<div class="form-group">
                    <label asp-for="id" class="control-label"></label>
                    <input asp-for="id" class="form-control" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="link" class="control-label"></label>
                    <input asp-for="link" class="form-control input-text-sm" readonly="readonly" />
                    <span asp-validation-for="link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="image" class="control-label"></label>
                    <input type="file" id="files" asp-for="image" class=" input-text-sm" name="files" multiple="multiple">
                    <span asp-validation-for="image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning  button-small" />
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <div class="form-group text-end">
                <a asp-action="Delete" asp-route-recno="@Model.recno" asp-route-id="@Model.id" class="btn btn-danger button-small" disable>Delete</a>
                <a asp-action="Index" class="btn btn-primary button-small" asp-route-id="@Model.id">Cancel</a>
            </div>
        </div>
    </div>

</div>
