@model iBizSMSV1R1.Models.WebPageAchievement

@{
    ViewData["Title"] = "Add Achievement";
    Layout = "~/Views/Shared/_LayoutWebPage.cshtml";
}

<div class="container">
    <h6 id="module-views" class="container">@ViewData["Title"]</h6>
</div>
<hr />
<div class="Form-Body">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group  col-sm-4 required">
                        <label asp-for="title" class="control-label"></label>
                        <select asp-for="title" asp-items="@ViewBag.WebPageTitle" class="form-control input-text">
                            <option></option>
                        </select>
                        <spa asp-validation-for="title" class="text-danger input-text"></spa>
                    </div>
                    <div class="form-group  col-sm-4 required">
                        <label asp-for="achievementname" class="control-label"></label>
                        <input asp-for="achievementname" class="form-control input-text" />
                        <span asp-validation-for="achievementname" class="text-danger input-text"></span>
                    </div>
                    <div class="form-group  col-sm-4 required">
                        <label asp-for="icon" class="control-label"></label>
                        <input asp-for="icon" class="form-control input-text" />
                        <span asp-validation-for="icon" class="text-danger input-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-4">
                        <label asp-for="controller" class="control-label"></label>
                        <input asp-for="controller" class="form-control input-text" />
                        <span asp-validation-for="controller" class="text-danger input-text"></span>
                    </div>
                    <div class="form-group  col-sm-4">
                        <label asp-for="action" class="control-label"></label>
                        <input asp-for="action" class="form-control input-text" />
                        <span asp-validation-for="action" class="text-danger input-text"></span>
                    </div>
                    <div class="form-group  col-sm-4">
                        <label asp-for="image" class="control-label  label-text"></label>
                        <input type="file" id="files" asp-for="image" class="input-text" name="files" multiple>
                        <span asp-validation-for="image" class="text-danger input-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-4">
                        <label asp-for="tagline" class="control-label"></label>
                        <input asp-for="tagline" class="form-control input-text" />
                        <span asp-validation-for="tagline" class="text-danger input-text"></span>
                    </div>
                    <div class="form-group  col-sm-4">
                        <label asp-for="priority" class="control-label"></label>
                        <input asp-for="priority" class="form-control input-text" />
                        <span asp-validation-for="priority" class="text-danger input-text"></span>
                    </div>
                    <div class="col-sm-4 form-group form-check">
                        <label asp-for="active" class="control-label"></label>
                        <input asp-for="active" class="form-control form-check-input input-text" style="height:38px" />
                        <span asp-validation-for="active" class="text-danger input-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label asp-for="description" class="control-label"></label>
                        <textarea asp-for="description" class="form-control input-text" id="Description"></textarea>
                        <span asp-validation-for="description" class="text-danger input-text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="ADD" class="btn btn-warning button-small" />
                </div>

            </form>
        </div>
        <div class="col-sm-12">
            <div class="form-group text-end">
                <a asp-action="Index" class="btn btn-primary button-small">Cancel</a>
            </div>
        </div>
    </div>
</div>
