@model iBizSMSV1R1.Models.Nationality

@{
    ViewData["Title"] = "Add Nationality";
    Layout = "~/Views/Shared/_LayoutOtherEntryRegistrar.cshtml";
}

<div class="container">
    <h6 id="module-views" class="container">@ViewData["Title"]</h6>
</div>
<hr />
<div class="Form-Body">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nationality" class="control-label"></label>
                    <input asp-for="nationality" class="form-control  input-text" required/>
                    <span asp-validation-for="nationality" class="text-danger input-text"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ADD" class="btn btn-warning button-small" />
                </div>

            </form>
        </div>
        <div class="col-sm-12">
            <div class="form-group text-end">
                <a asp-action="Index" class="btn btn-primary button-small">Cancel</a>
            </div>
        </div>
    </div>
</div>