@model iBizSMSV1R1.Models.CivilStatus

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOtherEntry.cshtml";
}

<h1>Edit</h1>

<h4>CivilStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="recno" />
            <div class="form-group">
                <label asp-for="civilstatus" class="control-label"></label>
                <input asp-for="civilstatus" class="form-control" />
                <span asp-validation-for="civilstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

